Flask
flask-cors
python-dotenv
google-generativeai
pymongo
streamlit
fastapi
uvicorn
numpy
pandas
matplotlib
seaborn
scikit-learn
tensorflow
torch
torchaudio
transformers
openai
gemini-api
anthropic
opencv-python
nltk
spacy
speechrecognition
pydub
firebase-admin
gtts
plotly
scipy
flask
joblib
pillow
requests
dash
pytest
pymongo
langchain
pyyaml
wave
librosa
fastdtw
django
textblob
# datawig
selenium
bs4
wordcloud
datasets
powerbiclient
pyarrow
